!!!
%html
  %head
    %title raftar
    %javascript{ :src => "something.js" }

  %body{ :style => "background-color: #3066b0;" }
    .content{ :style => "border: 1px solid red; margin-left: 10px;" }
      
