!!!
%html
	%head
		%stylesheet{ :src => "/app.css"}
		%title rafter
		%javascript{ :src => "something.js" }
		%link{ :rel =>"stylesheet", :type => "text/css", :href => "/bootstrap.css"}
		%link{ :rel =>"stylesheet", :type => "text/css", :href => "/bootstrap-responsive.css"}


		%body
			.row
				.span10
					%img{ :src => "/logo.jpg"}
				
		
			
				.span2
					%p
						%a
						Account
						%a
						logout
									

			.row
				.span4.offset2
					%a
						%img{ :src => "/back.jpg"}
					%a
						%img{ :src => "/delete.jpg"} 
					%a
						%img{ :src => "/tag.jpg"}
					%a
						%img{ :src => "/tag.jpg"} 
			
			.row
				.span2  
					%ul 
						%a
						compose
					%ul
						%a
						inbox
					%ul
						%a
						sent mail

				.span10
					.mail1
						%a
							%img{ :src => "/spuare.jpg"}
						%a
							%img{ :src => "/star.jpg"}
						%a
						yippee and welcome!

					.mail2

						%a
							%img{ :src => "/spuare.jpg"}
						%a
							%img{ :src => "/star.jpg"}
						%a
							Yo!

					.mail4

						%a
							%img{ :src => "/spuare.jpg"}
						%a
							%img{ :src => "/star.jpg"}
						%a
							Yea right

					.mail5
						%a
							%img{ :src => "/spuare.jpg"}
						%a
							%img{ :src => "/star.jpg"}
						%a
							Little earlier

					.mail6
						%a
							%img{ :src => "/spuare.jpg"}
						%a
							%img{ :src => "/star.jpg"}
						%a
							than i thought

					
			
					


		
			